<!DOCTYPE html>
<html>
    <head>
        <title>
            C.H. Robinson Web API
        </title>
    </head>
    <body>
        <h2>
            You pick a destination and the API will return a list of countries a driver must travel through.
        </h2>
        <p>Check out the code <a href="https://github.com/zunigao/API-PythonFlask-Sample">here</a> on github</p>
        <p1>
            Here is a list of country codes you can choose from: [        
            <a href="http://localhost:5000/CAN">CAN</a>,
            <a href="http://localhost:5000/USA">USA</a>,
            <a href="http://localhost:5000/MEX">MEX</a>,
            <a href="http://localhost:5000/GTM">GTM</a>,
            <a href="http://localhost:5000/BLZ">BLZ</a>,
            <a href="http://localhost:5000/SLV">SLV</a>,
            <a href="http://localhost:5000/HND">HND</a>,
            <a href="http://localhost:5000/NIC">NIC</a>,
            <a href="http://localhost:5000/CRI">CRI</a>,
            <a href="http://localhost:5000/PAN">PAN</a>
            ]
        </p1>
        <p>If the country code is invalid the API will return a 404 not found error
        </p>
        <p>For example: Finland <a href="http://localhost:5000/FIN">FIN</a></p>
        

    </body>
</html>